@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #242424;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

p {
  color: white;
  text-align: center;
}

hr {
  width: 90%;
}

.warning {
  color: white;
  text-align: center;
}

#main {
  margin-top: 50px;
  height: 100vh;
  padding-top: 5%;
}

.container {
  min-height: 100%;
  position: relative;
  height: 100vh;
}

#header {
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.753);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
}

#logo {
  width: 110px;
  height: 96px;
  position: relative;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#logo img {
  width: 100%;
  height: 100%;
}

#logo img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#admin {
  display: none;
}

#header input[type=submit] {
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

#header input[type=submit]:focus {
  outline: none;
}

#adminhid input[type=submit] {
  color: black;
}

#header input[type=submit]:hover {
  cursor: pointer;
}

#admin:hover #adminhid {
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fas {
  color: white;
  font-size: 25px;
}

#admin:hover .fas {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1s;
  transition: 1s;
}

#klient input[type=submit]:hover {
  color: #dadada;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#klient input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin-top: -55px !important;
  font-size: 30px;
}

#klient input[type=submit]#profile {
  padding-right: 200px !important;
}

#profile, #out {
  position: relative;
}

#adminhid {
  display: none;
}

#logincon p {
  text-align: center;
}

#footer {
  position: absolute;
  width: 100vw;
  background-color: black;
  margin-top: 100px;
  clear: both;
}

#footer #team a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

#footer img {
  width: auto;
  height: 35px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#footer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#footercon {
  margin: auto;
  width: 500px;
  height: 150px;
  padding-top: 40px;
  bottom: 0;
}

#social {
  position: absolute;
  height: 50px;
  width: 200px;
  margin-left: 100px;
  padding-top: 32px;
}

#social img {
  padding-left: 5px;
}

#splitter {
  position: absolute;
  border-left: 3px solid white;
  height: 100px;
  margin: auto;
  margin-left: 250px;
}

#splitterv2 {
  position: absolute;
  border-left: 3px solid white;
  height: 100px;
  margin: auto;
  margin-left: 510px;
  margin-top: -80px;
}

#team {
  color: white;
  position: absolute;
  width: auto;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

#kontakt {
  color: white;
  padding-left: 270px;
  height: 50px;
  width: 300px;
  margin: auto;
}

#kontakt a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.fab {
  color: white;
  padding: 10px;
  font-size: 35px;
  text-align: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  width: 100%;
  margin: auto;
}

#maincon {
  position: relative;
  margin: auto;
  min-height: 500px;
  background-color: transparent;
  margin: auto;
  margin-top: 100px;
  min-height: 100vh;
  height: auto;
  padding-bottom: 150px;
}

.book {
  display: inline-block;
  border-radius: 5px;
  width: 180px;
  height: 350px;
  margin: auto;
  margin: 32px;
  padding: 25px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  color: #fff;
  text-align: center;
  transition: transform .5s;
}

.book:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.book a {
  color: white;
  text-decoration: none;
}

.book img {
  display: box;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  margin-top: 25px;
}

#administrace {
  display: none;
}

#administrace input[type=submit] {
  background-color: green;
  height: 30px;
  width: 150px;
  border-radius: 25px;
  color: white;
  border: none;
  outline: none;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#administrace input[type=submit]:hover {
  background-color: #fff;
  color: green;
}

#administrace input[type=submit]#del:hover {
  background-color: white;
  color: red;
}

#administrace input[type=submit]#del {
  outline: none;
  background-color: red;
  margin-top: 10px;
}

#bookmain .name {
  color: white;
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}

#bookmain {
  margin: auto;
  margin-top: 100px;
  width: 800px;
}

#image img {
  height: 350px;
  width: 210px;
  margin-left: 75px;
  margin-top: 50px;
}

#info {
  color: white;
  width: 50%;
  margin-left: 400px;
  margin-top: -350px;
  margin-bottom: 20px;
  z-index: 2;
}

.info {
  display: inline-block;
  vertical-align: top;
}

.reservation {
  width: 400px;
  margin-left: 400px;
  color: white;
}

#res {
  color: white;
  text-decoration: none;
  text-align: center;
}

#res a {
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  background-color: #5DADE2;
}

.reservation input[type=submit] {
  margin-top: 20px;
  background-color: #5DADE2;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  color: white;
  border: none;
  outline: none;
  margin-top: 25px;
}

.reservation input[type=checkbox] {
  margin-left: 90px;
}

.reservation input[type=date] {
  padding-top: 20px;
  color: white;
  outline: none;
  border-width: 0 0 2px;
  border-color: white;
  background: none;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 20px;
}

#rezz {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  color: red;
  position: absolute;
  margin-left: 700px;
  width: 250px;
  margin-top: -140px;
}

#rez {
  -webkit-animation: flash linear 2s infinite;
  animation: flash linear 2s infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

#booktab {
  height: 210px;
  overflow: auto;
  position: absolute;
  margin-left: 350px;
  width: 600px;
}

#sel {
  margin-left: 225px;
  margin-top: 20px;
  width: 80px !important;
}

#bookmain #sel {
  position: absolute;
  margin-left: -10px;
}

#usermain {
  margin: auto;
  margin-top: 100px;
  width: 800px;
  min-height: 300px;
  height: 100vh;
}

#search::-webkit-input-placeholder {
  color: white;
}

#search:-ms-input-placeholder {
  color: white;
}

#search::-ms-input-placeholder {
  color: white;
}

#search::placeholder {
  color: white;
}

#logincon::-webkit-input-placeholder {
  color: white;
}

#logincon:-ms-input-placeholder {
  color: white;
}

#logincon::-ms-input-placeholder {
  color: white;
}

#logincon::placeholder {
  color: white;
}

#fullmenue {
  display: none;
}

#logincon img {
  width: auto;
  height: 100px;
  margin-left: 200px;
}

#logincon {
  color: white;
  margin: auto;
  width: 500px;
  margin-top: 100px;
  height: 100vh;
  padding-top: 6%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#logincon input[type=text],
#logincon input[type=password],
#logincon input[type=number] {
  padding-top: 20px;
  color: white;
  outline: none;
  border-width: 0 0 2px;
  border-color: white;
  background: none;
  margin-left: 160px;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#logincon input[type=text]:focus,
#logincon input[type=password]:focus,
#logincon input[type=number]:focus {
  background: none;
  border-color: #5DADE2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #5DADE2;
}

#logincon input:-webkit-autofill,
#logincon input:-webkit-autofill:hover,
#logincon input:-webkit-autofill:focus,
#logincon input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

#logincon input[type=submit] {
  margin-top: 20px;
  background-color: #5DADE2;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  color: white;
  border: none;
  margin-left: 160px;
  outline: none;
  margin-top: 25px;
}

.logcon {
  width: 100%;
  height: 100vh;
}

#swap {
  font-family: 'Montserrat', sans-serif;
  color: white;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
  text-align: center;
  padding-top: 20px;
}

#swap a {
  font-family: 'Montserrat', sans-serif;
  color: #5DADE2;
  text-decoration: none;
}

#tab {
  width: 90%;
  margin: auto;
}

#tab {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  color: white;
}

#tab td,
#tab th {
  border: 1px solid transparent;
  outline: none;
  padding: 8px;
}

#tab tr:nth-child(even) {
  background-color: #dfdfdf4f;
}

#tab input[type=submit] {
  font-family: 'Muli', sans-serif;
  background-color: #ffffff;
  padding: 5px 5px;
  width: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  border-radius: 25px;
  color: black;
}

#tab input[type=submit]:hover {
  background-color: #5DADE2;
}

#del {
  margin-top: 5px;
}

#tab input[type=submit]#del:hover {
  color: white;
  background-color: red;
  padding-left: -20px !important;
}

#loop img {
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 100px;
  margin-top: -40px;
  cursor: pointer;
}

#searchfull ::-webkit-input-placeholder {
  color: white;
}

#searchfull :-ms-input-placeholder {
  color: white;
}

#searchfull ::-ms-input-placeholder {
  color: white;
}

#searchfull ::placeholder {
  color: white;
}

#searchfull {
  display: none;
}

#search {
  display: block;
  position: absolute;
  margin-left: 80px;
  margin-top: -35px;
}

#search input[type=text] {
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

#klient {
  margin-top: -10px;
  z-index: 2;
  -webkit-transition: 1s;
  transition: 1s;
}

#filtersmall {
  display: block;
}

.dropbtn {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: -50px;
}

.dropbtn:hover, .dropbtn:focus {
  color: #fff;
  outline: none;
}

.dropdownmenue {
  position: relative;
  display: block;
}

.menuecontent {
  font-family: 'Montserrat', sans-serif;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.753);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-width: 100%;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.category {
  width: 200px;
}

.menuecontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownmenue a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#menu {
  display: block;
}

.dropdown {
  margin: auto;
  display: inline-block;
}

#filter {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.753);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100px;
  width: 100vw;
  margin: auto;
  margin-top: -100px;
  -webkit-transition: 1s;
  transition: 1s;
}

#login {
  font-family: 'Montserrat';
  position: absolute;
  width: 90px;
  margin-top: -60px;
  margin-right: 95px;
  right: 0;
}

#login input[type=submit] {
  font-size: 30px;
  font-family: 'Montserrat';
}

#filtercon {
  text-align: center;
  width: 600px;
  margin: auto;
  border: none;
  margin: auto;
  color: white;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#showhide {
  font-family: 'Montserrat', sans-serif;
  display: block;
  position: absolute;
  margin-top: 30px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  z-index: 2;
  font-size: 30px;
}

#showhide:hover {
  color: #dadada;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#category {
  width: 50px !important;
  height: 10px !important;
  margin: auto !important;
  padding: 20px !important;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#set {
  width: 200px;
}

#set select {
  margin-left: 120px;
  width: 100px;
  height: 25px;
  border-radius: 20px;
  margin-top: 5px;
  text-align-last: center;
  outline: none;
}

#sett {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
}

#sett input[type=submit] {
  margin-top: -25px;
  float: right;
}

.dropdown:hover
.dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.753);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  width: auto;
  margin-left: -50px;
  margin-top: 5px;
  max-height: 400px;
  overflow: auto;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#klient input[type=submit]:hover {
  color: #dadada;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1000px) {
  #login {
    margin-right: 0;
  }
  #login input[type=submit] {
    font-size: 12px;
    font-family: 'Montserrat';
  }
  #header {
    height: 50px;
  }
  #header img {
    height: 45px;
    width: auto;
  }
  #showhide {
    display: none;
  }
  #menu {
    display: none;
  }
  .dropdownmenue {
    display: none;
  }
  #search {
    display: none;
  }
  #sel {
    position: relative;
    width: 50px;
    width: 100px;
    z-index: 1;
  }
  .dropdown-content {
    display: none;
  }
  #category {
    color: #fff !important;
    text-align: center !important;
    display: block !important;
    width: 100% !important;
    border: none;
    padding: 5px;
  }
  #category:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .dropdown:hover
.dropdown-content {
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    width: auto;
    margin-top: -50px !important;
    margin-left: 115px !important;
    max-height: 400px;
    overflow: auto;
  }
  .dropdown-content a {
    color: #fff !important;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  #klient input[type=submit]:hover {
    color: #dadada;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #filtercon {
    width: 100px;
    margin: auto;
    border: none;
    margin-top: 50px;
    margin-left: 15%;
    font-size: 15px;
  }
  #filter {
    display: block !important;
    opacity: 100 !important;
    position: fixed;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.753);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    height: 100vh;
    color: white;
    top: 0;
    margin-top: 50px !important;
  }
  #filter a {
    text-decoration: none;
    color: white;
  }
  #administrace {
    position: absolute;
    text-align: center;
    display: block;
    color: white;
    margin-left: 80px;
    margin-top: 50px;
  }
  #maincon {
    position: relative;
    margin: auto;
    min-height: 500px;
    background-color: transparent;
    width: 65vw;
    margin: auto;
    margin-top: 100px;
    margin-left: 400px;
    min-height: 100vh;
    height: auto;
    padding-bottom: 150px;
  }
  #logo {
    display: block !important;
    margin-left: 100px !important;
    margin-top: 2px;
  }
  #logo img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #admin {
    display: none;
  }
  #login {
    font-family: 'Montserrat';
    margin-left: 1050px;
    margin-top: -84px;
  }
  #klient {
    display: none;
  }
  #searchfull {
    width: 50%;
    margin-left: 25%;
    display: block;
    width: 200px;
    height: 50px;
    float: right;
    margin-top: -100px;
  }
  #searchfull input[type=text] {
    border-width: 0 0 2px;
    border-color: white;
    color: white;
    outline: none;
    background: transparent;
    width: 100%;
    height: 50px;
  }
  #searchfull input[type=text] {
    border: none;
  }
  #searchnormal ::-webkit-input-placeholder {
    color: white;
  }
  #searchnormal :-ms-input-placeholder {
    color: white;
  }
  #searchnormal ::-ms-input-placeholder {
    color: white;
  }
  #searchnormal ::placeholder {
    color: white;
  }
  #fullmenue {
    display: block;
    position: absolute;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-top: -85px;
  }
  #fullmenue input[type=submit] {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
  }
  #fullmenue input[type=submit]:hover {
    color: #dadada;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

#category:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 700px) {
  #maincon {
    position: relative;
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 1110px) {
  #maincon {
    position: relative;
    width: 65vw;
    margin: auto;
    height: auto;
    margin-top: 100px;
    margin-left: 30%;
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  #maincon {
    position: relative;
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 150px;
  }
}
/*# sourceMappingURL=frontend.css.map */