@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: 'Muli', sans-serif;
    background: -webkit-linear-gradient(to right, #ad5389, #3c1053);
    background: linear-gradient(to right, #ad5389, #3c1053);
    width: auto;
    height: 100%;
    margin: auto;
}

#side{
    width: 20%;
    float: left;
    border: black solid 1px;
    height: 700px;
}

#header{
    border: black solid 1px;
    width: 1100px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.products{
    border-radius: 5px;
    width: 1100px;
    background: white;
    margin: auto;

}
#bookcon{
    border: solid black 1px;

}

.book{
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    margin: auto;
    margin: 32px;
    background-color: #ccc;
}


.book img{
    display: box;
    height: 150px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}

.name{
    padding-top: 15px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

#info{
    text-align: center;
    
}