@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: 'Muli', sans-serif;
    background: -webkit-linear-gradient(to right, #ad5389, #3c1053);
    background: linear-gradient(to right, #ad5389, #3c1053);
    width: auto;
    height: 100%;
    margin: auto;
}

#header{
    width: 1100px;
}
#main{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 250px;
}

hr{
    width: 80%;
    border-top: 1px solid black;
}


/* login */

#monkaS input[type=submit] {
    color: white;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Muli', sans-serif;
    background-color:  rgba(211, 211, 211, 0);
    border: none;
    border-bottom: white 2px solid;
    border-right: 2px solid  rgb(255, 255, 255);
    border-left: 2px solid  rgb(255, 255, 255);
    height: 40px;
    margin-top: -50px;
    cursor: pointer;
    transition: .2s;
  }

  #monkaS input[type=submit]:hover{
      animation-duration: 3s;
      height: 70px;
      background-color: white;
      color: #3c1053;
  }

  input[type=submit]:hover {
    background-color: white;
    transition-duration: 0.5s;
  }

    #serch input[type=text]:focus  {
        width: 100%;
        background-color: white;
    }

  #serch input:focus::-webkit-input-placeholder {
        color: rgb(0, 0, 0);
    }

  #serch input[type=text] {
    float: right;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  #serch{
    color: white;
    height: 35px;
    margin-top: -50px;
    margin-left: 700px;
    width: 400px;
    z-index: 1;
}

#serch ::placeholder{
    color: white;
}

#monkaS{
    float: right;
    margin-left: 696px;
    margin-top: -60px;
    height: 25px;
    top: 0; 
}
