@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: 'Muli', sans-serif;
    background: -webkit-linear-gradient(to right, #ad5389, #3c1053);
    background: linear-gradient(to right, #ad5389, #3c1053);
    width: auto;
    height: 100%;
    margin: auto;
}

#header{
    width: 1100px;
}
#main{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 1100px;
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 250px;
}

hr{
    width: 80%;
    border-top: 1px solid black;
}